<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div class="well sidebar-nav" th:fragment="sidebar">
    <ul class="nav nav-list">
        <li class="nav-header">Hi <span data-th-text="${session.user.name}" data-th-remove="tag">UserName</span> !</li>
        <li><a href="/todos" th:href="@{/todos}"><i class="icon-home"></i> Home</a></li>
        <li><a href="/todos/new" th:href="@{/todos/new}"><i class="icon-file"></i> Create a todo</a></li>
        <li class="divider"></li>
        <li class="nav-header">Search todo</li>
        <li>
            <form class="form-search" action="/todos/search" th:action="@{/todos/search}" id="searchForm" method="get">
                <div class="input-append">
                    <label>
                        <input type="text" name="title" class="input-small search-query" placeholder="search by title" required="required">
                    </label>
                    <button type="submit" class="btn">Go!</button>
                </div>
            </form>
        </li>
    </ul>
</div>

</html>